<!DOCTYPE html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="../styles/app.css"/>
		<link type="text/css" rel="stylesheet" href="../styles/feed.css"/>
		<link type="text/css" rel="stylesheet" href="../styles/profile.css"/>
	</head>
	
	<body>

		<div class="jcc-header-section">

			<div class="jcc-header-content jcc-book-icon">
				<div class="jcc-book-text">
					Mean Book
				</div>
			</div>

			<form name="loggedUser" class="jcc-header-content jcc-logged-user-content">
				<div class="jcc-field-container">
					<span class="jcc-logged-ser-text"></span>
				</div>

				<div class="jcc-field-container jcc-field-container-submit">
					<input type="button" value="Sign Out" onclick="Home.onSignOutClicked()"/>
				</div>
			</form>
		</div>

		<div class="jcc-content-section ">
			
			<div class="jcc-nav-section">
				<button onclick="Home.onFeedButtonClicked()">Feed</button>
				<button onclick="Home.onProfileButtonClicked()">Profile</button>
			</div>
			
			<div class="jcc-sub-section">
				<div class="jcc-feed-section">
					
					<div class="jcc-feed-input">
						<input id="feedInput" type="text" placeholder="Text feed or URL feed" onkeyup="Home.onFeedInutKeyUp()"/>
						<input id="postButton" type="button" value="Post" onclick="Home.onPostFeedClicked()" disabled/>
					</div>
					
					<ul class="jcc-feed-list"></ul>
				</div>
				
				<div class="jcc-profile-section">
					<form name="profile">
						<div>
							<label for="name">Name:</label>
							<input type="text" name="name" id="name" onkeyup="ProfileService.onNameFieldChange()"
																	 onblur="ProfileService.onNameFieldChange()"/>
							<label class="jcc-profile-required">*</label>
							<label id="nameErrMsg" class="jcc-profile-error" hidden>&nbsp;</label>
						</div>

						<div>
							<label for="age">Age:</label>
							<input type="text" name="age" id="age" onkeyup="ProfileService.onAgeFieldChange()" 
																  onblur="ProfileService.onAgeFieldChange()"/>
							<label class="jcc-profile-required">*</label>
							<label id="ageErrMsg" class="jcc-profile-error" hidden>&nbsp;</label>
						</div>

						<div>
							<label for="phone">Phone:</label>
							<input type="text" name="phone" id="phone" onkeyup="ProfileService.onPhoneFieldChange()"
																	   onblur="ProfileService.onPhoneFieldChange()"/>
							<label class="jcc-profile-required">*</label>
							<label id="phoneErrMsg" class="jcc-profile-error" hidden>&nbsp;</label>
						</div>

						<div>
							<label for="email">Email:</label>
							<input type="text" name="email" id="email" onkeyup="ProfileService.onEmailFieldChange()"
																	   onblur="ProfileService.onEmailFieldChange()" />
							<label class="jcc-profile-required">*</label>
							<label id="emailErrMsg" class="jcc-profile-error" hidden>&nbsp;</label>
						</div>

						<div>
							<label>Address:</label>
							<textarea id="address"></textarea>
						</div>

						<div>
							<label>&nbsp;</label>
							<input type="file" name="profile" id="profilePic" onchange="ProfileService.onFileUpload(this)"/>
						</div>
						
						<div>
							<input id="savebutton" type="button" name="save" value="Save" disabled onclick="ProfileService.saveProfile()"/>
						</div>
					</form>
					<img id="profileImage"/>
				</div>
				</div>
		</div>

		<div class="jcc-footer-section">&copy; www.meanstack.com</div>
		
		<script src="../js/Overrides.js"></script>
		<script src="../js/Feed/Feed.js"></script>
		<script src="../js/Feed/FeedService.js"></script>
		<script src="../js/Profile/Profile.js"></script>
		<script src="../js/Profile/ProfileService.js"></script>
		<script src="../js/login.js"></script>
		<script src="../js/home.js"></script>
	</body>
</html>